.x{
    background-image: url("bg2.jpeg");
  
 
  height: 900px;

  background-repeat:no-repeat;
  background-size: 800px 800px;
  background-position-x: center;
  background-attachment: fixed;

}
table,td{
  border: 1px solid black;
  font-family:fantasy;
  margin-left: auto;
  margin-right: auto;
}
